.buttondemoBasicUsage section {
  border-radius: 3px;
  text-align: center;
  margin: 1em;
  position: relative !important; }

.buttondemoBasicUsage section .md-button {
  margin-top: 16px;
  margin-bottom: 16px; }

.buttondemoBasicUsage .label {
  position: absolute;
  bottom: 5px;
  left: 7px;
  font-size: 14px;
  opacity: 0.54; }

.avatar {
  position: relative;
  width: 128px;
  height: 128px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom:0.7;
  transform: scale(0.7);
  -webkit-transform: scale(0.70);
  -moz-transform: scale(0.70);
}
